@import "./mixin";

.nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;

  // Header
  &_header {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
  
  }

  // Logo
  &_logo a {
    font-size: 1.25rem;
    font-weight: 800;
    color: $white;
    white-space: nowrap;
  }
  .logo_span {
    display: none;
  }

  // Menu Btn
  &_menu_btn {
    font-size: 1.5rem;
    color: $white;
    cursor: pointer;
    display: none;
  }

  // Links
  &_links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    z-index: -1;

    &.open {
      transform: translate(100%);
    }
  }

  // Responsive Design
  @include respond(md) {
    padding: 1rem;
    margin-inline: auto;
    &_header {
      background-color: transparent ;
    }

    &_logo a {
      display: none;
    }

    &_links {
    position: static;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
     a {
        color: $text-light;
     }
    }
    .logo_span {
      font-size: 1.25rem;
      font-weight: 800;
      color: $white;
      color: $secondary-color;
      display: block;
    }
  }
}
