

.hero_container {
  display: grid;
  gap: 2rem;

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 7rem;
  }

  // Image
  .hero-image {
    img {
      width: 100%;
      max-width: 550px;
      margin-inline: auto;
    }
  }

  // Content
  .hero_content {
   &_title {
        font-size: 4rem;
        font-weight: 800;
        color: $text-dark;
        text-align: center;
        line-height: 4.75rem;
        span {
            color: $secondary-color;
        }

        @include respond(md) {
            text-align: left;
        }
    }

    &-description {
      margin: 2rem 0;
    }
}
}

