@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

html, body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav_header {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff8906;
  max-width: 1200px;
  margin: 0 auto !important;
}
.nav_logo a {
  font-size: 1.25rem;
  font-weight: 800;
  color: #ffffff;
  white-space: nowrap;
}
.nav .logo_span {
  display: none;
}
.nav_menu_btn {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}
.nav_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #ff8906;
  transform: translateY(-100%);
  z-index: -1;
  transition: all 0.5s ease;
}
.nav_links.open {
  transform: translateY(100%);
}
.nav_links a {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
.nav_btns {
  display: none;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .nav {
    position: static;
    margin-inline: auto;
  }
  .nav_header {
    padding: 1rem;
    background-color: transparent;
  }
  .nav_logo a {
    display: none;
  }
  .nav_links {
    position: static;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    transform: none !important;
  }
  .nav_links a {
    color: #767268;
  }
  .nav_btns {
    display: block;
  }
  .nav .logo_span {
    font-size: 1.25rem;
    font-weight: 800;
    color: #ffffff;
    color: #e5306f;
    display: block;
  }
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #ff8906;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.section_container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  font-size: 2.5rem;
  font-weight: 800;
  color: #0e0d16;
  text-align: center;
}

.hero_container {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .hero_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-top: 7rem;
  }
}
.hero_container .hero_image img {
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
}
.hero_container .hero_content {
  text-align: center;
}
@media (min-width: 768px) {
  .hero_container .hero_content {
    text-align: left;
  }
}
.hero_container .hero_content_title {
  font-size: 4rem;
  font-weight: 800;
  color: #0e0d16;
  line-height: 4.75rem;
}
.hero_container .hero_content_title span {
  color: #e5306f;
}
.hero_container .hero_content_description {
  margin: 2rem 0;
}
.hero_container .hero_content .hero_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero_container .hero_content a {
  font-size: 1rem;
  font-weight: 500;
  color: #0e0d16;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.hero_container .hero_content i {
  font-size: 2rem;
}

.service {
  background-color: #f7f8fd;
}
.service_grid {
  display: grid;
  gap: 1rem;
  margin: 4rem 0;
}
@media (min-width: 540px) {
  .service_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .service_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
.service_card {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
}
.service_card:nth-child(1) div {
  background-color: #f0fdfa;
  color: #29d5be;
}
.service_card:nth-child(2) div {
  background-color: #fff1f2;
  color: #fc637e;
}
.service_card:nth-child(3) div {
  background-color: #faf5ff;
  color: #c27aff;
}
.service_card:nth-child(4) div {
  background-color: #f0f9ff;
  color: #24bcff;
}
.service_card div {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  padding: 5px 8px;
  border-radius: 5px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.service_card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 700;
  color: #0e0d16;
}
.service_card p {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  line-height: 1.5rem;
}

.about_container {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.about_container .about_image {
  max-width: 450px;
  margin-inline: auto;
}
.about_container .about_image img {
  width: 100%;
}
.about_container .about_content h2 {
  text-align: left;
}
.about_container .about_content .about_list {
  display: grid;
  gap: 2rem;
}
.about_container .about_content .about_list li {
  display: flex;
  gap: 1rem;
}
.about_container .about_content .about_list li:nth-child(1) .left {
  background-color: #f0fdfa;
  color: #29d5be;
}
.about_container .about_content .about_list li:nth-child(2) .left {
  background-color: #fff1f2;
  color: #fc637e;
}
.about_container .about_content .about_list li:nth-child(3) .left {
  background-color: #faf5ff;
  color: #c27aff;
}
.about_container .about_content .about_list li .left {
  display: grid;
  place-items: center;
  font-size: 1.7rem;
  padding: 5px;
  border-radius: 5px;
}
.about_container .about_content .about_list li .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about_container .about_content .about_list li .right h4 {
  font-size: 1.125rem;
  font-weight: 700;
}
.about_container .about_content .about_list li .right p {
  color: #767268;
  font-weight: 500;
}

.portfolio {
  background-color: #f7f8fd;
  overflow: hidden;
}
.portfolio_header {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .portfolio_header {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio_header h2 {
    text-align: left;
  }
}
.portfolio_header p {
  font-size: 1rem;
  font-weight: 500;
  color: #767268;
  line-height: 1.5rem;
}
.portfolio_content {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .portfolio_content {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */